/arithmeticarr.py
/classExample.py
/dict.py
/first.py
/function.py
/hangman.py
/listComp.py
/mosCommon
/second.py
/sepFile
/third.py
/time_calc.py
/websocket.py
.vscode/settings.json
file_read/third.py
file_read/file.txt
.DS_Store
lesson_projekt/calculator.py
